.playingField {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-image: url('./../../assets/img/board.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardStack {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        position: absolute;
        width: 140px;
    }
}

.topCard {
    cursor: pointer;
    transition: all 125ms ease-in-out;

    &:hover {
        transform: scale(1.1) translateY(-20px);
    }
}

.playedCard {
    transform: scale(1.2) translateX(200px) translateY(-150px) rotate(10deg);
    right: 20px;
}

.pickCard {
    cursor: pointer;
    transition: all 125ms ease-in-out;
    animation: pickCardAnimation 1s ease-in-out;
    transform: scale(1.2) translateX(200px) translateY(-150px) rotate(10deg);
}

@keyframes pickCardAnimation {
    0% {
        transform: scale(1);
    }

    30% {
        transform: scale(1.5);
    }

    60% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1.2) translateX(200px) translateY(-150px) rotate(10deg);
    }
}

.playerPosition {
    position: absolute;
    right: 0;
}

.btnAdd {
    position: absolute;
    right: 32px;
    bottom: 32px;
}

.pinBottom{
    position: absolute;
    bottom: 32px;
    left: 180px;
    right: 180px;
}